* {
  box-sizing: border-box;
}
body {
  font-family: 'Muli', sans-serif;
  background-color: #fbf3f2;
}
a {
  text-decoration: none;
  color: #584538;
}

a:hover {
  color: #bb817a;
}

a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #bb817a;
  transition: width .5s;
}

a:hover::after {
  width: 100%;
  transition: width .5s;
}